In [1]:
import pandas as pd

Mettre à jour

In [4]:
#pip install -U pandas

In [2]:
pd.__version__

'2.0.1'

Créer un nouvel objet DataFrame

In [4]:
tableau = pd.DataFrame()

In [5]:
type(tableau)

pandas.core.frame.DataFrame

Peupler un tableau

In [9]:
tableau = pd.DataFrame([["Python","Faible"],
              ["R","Forte"],
              ["Julia","Très faible"]],
            columns = ["Langage","Connaissance en SHS"])
tableau

  Langage Connaissance en SHS
0  Python              Faible
1       R               Forte
2   Julia         Très faible

Sélectionner chaque colonne

In [10]:
tableau["Langage"]

0    Python
1         R
2     Julia
Name: Langage, dtype: object

In [11]:
type(tableau["Langage"])

pandas.core.series.Series

Sélectionner un élément du tableau

In [12]:
tableau.loc[1]

Langage                    R
Connaissance en SHS    Forte
Name: 1, dtype: object

In [13]:
tableau.loc[1:2]

  Langage Connaissance en SHS
1       R               Forte
2   Julia         Très faible

Un élément particulier

In [15]:
tableau.loc[2,"Langage"]

'Julia'

In [16]:
tableau.shape

(3, 2)